
@--color-black: rgb(0,0,0);
@--color-black10: rgb(24,24,24);
@--color-black20: rgb(44,44,44);
@--color-black30: rgb(64,64,64);
@--color-black40: rgb(70,79,81);
@--color-black50: rgb(110,114,116);
@--color-black60: rgb(128,132,133);

@--color-white: rgb(255,255,255);
@--color-white10: rgb(250,249,252);
@--color-white20: rgb(242,242,246);
@--color-white30: rgb(230,230,232);
@--color-white40: rgb(196,196,196);
@--color-white50: rgb(178,180,180);

/* http://pixeljoint.com/forum/forum_posts.asp?TID=12795 */
/* (c) DarkBringer */
@--color-db-black: rgb( 20, 12, 28 );
@--color-db-purple: rgb( 68, 36, 52 );
@--color-db-darkblue: rgb( 48, 52, 109 );
@--color-db-darkgrey: rgb( 78, 74, 78 );
@--color-db-brown: rgb( 133, 76, 48 );
@--color-db-darkgreen: rgb( 52, 101, 36 );
@--color-db-red: rgb( 208, 70, 72 );
@--color-db-grey: rgb( 117, 113, 97 );
@--color-db-blue: rgb( 89, 125, 206 );
@--color-db-orange: rgb( 210, 125, 44 );
@--color-db-lightgrey: rgb( 133, 149, 161 );
@--color-db-green: rgb( 109, 170, 44 );
@--color-db-pink: rgb( 210, 170, 153 );
@--color-db-lightblue: rgb( 109, 194, 202 );
@--color-db-yellow: rgb( 218, 212, 94 );
@--color-db-white: rgb( 222, 238, 214 );
