
html, body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  display: flex;
  margin: 0;
  font-family: 'DejaVu Sans Mono', 'Source Code Pro', monospace;
  font-size: 10px;
  color: @--color-white;
  background: @--color-black10;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.Container {

}
