.debug {
  .Map {
    outline: 1px solid @--color-db-darkblue;
  }

  .Block {
    background: rgba(255,255,255,0.5);
  }

  .Chunk {
    border: 1px solid @--color-db-red;
  }
}


.Map {
  position: relative;
  white-space: pre;
  margin: 20px;
  font-size: 1.4rem;
  overflow: hidden;
}

.Block {
  position: absolute;
}

.Chunk {
  position: absolute;
}
